<html>
<head>
  <title>Error with Request</title>
</head>
<body>
<h1>Error:400</h1>
  <p>Please enter username and password correctly</p>
<p>Try again <a href="{{ url_for("index") }}">to sign up</a>?</p>
</body>
</html>
