<form method="POST" action="/api/token">
    <h1>Login</h1>
    <p>Enter Username. Enter Password</p>
    <hr>
    {{form.csrf_token}}
    <div> {{form.username.label}}: {{form.username()}} </div>
    <div> {{form.password.label}}: {{form.password()}} </div?>
    <input type="submit" value="Login">
</form>
