<form method="POST" action="/api/register">
    <h1>Sign Up</h1>
    <p>Create account by creating a username and password</p>
    <hr>
    <div>
    {{form.csrf_token}}
    </div>
    <div> {{form.username.label}}: {{form.username}} </div>
    <div> {{form.password.label}}: {{form.password}} </div>
</form>
