<p>Successful</p>
<h1>User Data:</h1>
<p id="id">{{id}}
</p>
<p id="username">{{username}} </p>
<p id="password">{{password}} </p>
<hr>

<script>

$.getJSON("/user, {text:txt}, function(data){
    username = data.result.username;
    password = data.result.password;
    id = data.result._id;
    console.log("Username: " + username)
    console.log("Password: " + password)
    console.log("ID: " + id)
    $("#id").html(id);
    $("#username").html(username);
    $("$password").html(password);
});

</script>
