<h1>Logged In</h1>
<p>Use token</p>
<h1>Token</h1>
<p id="Token">{{token}}
</p>
<h1>Duration:<h1>
<p id="duration">{{duration}}
</p>
<hr>
<script>
$.getJSON("/api/token",{text:txt}, functin(data){
    token = data.result.token;
    duration = data.result.duration;
    console.log("Token:" + token)
    consoe.log("Duration:" + duration)
    $("#token").html(token);
    $("#duration").html(duration);
});

</script>
